*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}
header{
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
}
section{
    margin-top: 60px;
    text-align: center;
}
h2{
    font-size: 20px;
}
.logo{
    width: 75px;
}
.logo img{
    width: 100%;
    border-radius: 50%;
}
ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
}
li a{
    color: #333;
    display: inline-block;
}
h1{
    font-size: 32px;
}
#home{
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 3px rgb(255, 255, 255);
}
#home h1{
    font-size: 36px;
    margin-bottom: 10px;
}
#home button{
    width: auto;
    font-size: 16px;
}
.home-text{
    margin-top: 85px;
    text-align: center;
    margin-bottom: 15px;
    padding: 10px;
}
.btn{
    width: 100%;
    background-color: #333;
    color: #ffff;
    padding: 10px;
    border: none;
}
.btn:hover{
    background-color: gray;
    color: black;
    cursor: pointer;
}
#products{
    text-align: center;
}
.row{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 10px;
}
.product, .article{
    text-align: center;
    border: 1px solid rgb(138, 138, 138);
    padding: 25px;
}
.item-info{
    margin: 5px 0 10px 0;
    line-height: 20px;
}
.item-info h2{
    margin-bottom: 5px;
}
.product span{
    display: block;
}
.person{
    border: 1px solid rgb(138, 138, 138);
    padding: 25px;
    line-height: 20px;
}
.person img{
    width: 150px;
    border-radius: 50%;
}
.person p{
    margin-top: 10px;
    width: 300px;
}
.person span{
    font-weight: bold;
}
.product, .article{
    width: 395px;
}
.product img, .article img{
    width: 100%;
}
.question{
    border: 1px solid rgb(138, 138, 138);
    width: 400px;
    padding: 20px;
    line-height: 20px;
}
.question h2{
    margin-bottom: 10px;
}
#contact{
    margin-bottom: 20px;
}
.cta{
    display: flex;
    justify-content: center;
    align-items: center; 
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form{
    padding: 10px;
    width: 500px;
}
.form h1{
    margin-bottom: 15px;
}
form input{
    width: 100%;
}
input[type="submit"]{
    background-color: #333;
    color: #ffff;
    border: none;
}
form input, form textarea{
    border: 1px solid rgb(138, 138, 138);
    padding: 10px;
}
.image{
    width: 600px;
}
.image img{
    width: 100%;
}
footer{
    width: 100%;
    background-color: #333;
    text-align: center;
    padding: 30px 0;
    line-height: 30px;
}
footer p, footer a{
    color: #ffff;
}
footer a:hover{
    color: #b1b1b1;
}

@media (max-width: 480px){
    header, ul{
        flex-direction: column;
    }
    nav, ul{
        width: 100%;
    }
    ul{
        text-align: center;
        gap: 0;
    }
    li{
        background-color: #333;
    }
    a{
        color: #ffff !important;
        width: 100%;
        padding: 10px;
    }
    #home{
        margin-top: 200px;
    }
    #home h1{
        font-size: 32px;
    }
    .image{
        display: none;
    }
    .form{
        width: 350px;
    }
}